<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/tx
        	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />
	
	<context:component-scan base-package="com.shuldevelop" />
	
	<mvc:annotation-driven /> 
	
	<bean id="sessionFactory"
      class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.shuldevelop.model"/>
        <property name="hibernateProperties">
            <props>
                <!--  prop key="hibernate.hbm2ddl.auto">
                    create-drop
                </prop -->
                <prop key="hibernate.dialect">
                   org.hibernate.dialect.Oracle10gDialect
                </prop>
            </props>
        </property>
    </bean>
    
    <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
        <property name="username" value="shul_planilla"/>
        <property name="password" value="shulplanilla"/>
    </bean>
    
    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean> 
    
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">  
		<property name="host" value="smtp.gmail.com" />  
	    <property name="username" value="alb2594@gmail.com" />  
	    <property name="password" value="3JRoMIBAKbbR" />  
	    <property name="javaMailProperties">
	       <props>  
	          <prop key="mail.smtp.starttls.enable">true</prop>
	        </props>  
	    </property>  
	</bean>
	<bean id="mailMail" class="com.shuldevelop.mail.MailMailServiceImpl">  
	    <property name="mailSender" ref="mailSender" />  
	</bean>
    
    <tx:annotation-driven transaction-manager="txManager" />
	
	<mvc:resources mapping="/assets/**" location="/assets/" />
        
</beans>
